# Publish your notebook

The present notebook is the _same_ notebook as the one we just saw (`r4Dkcgt2HIfh`).

However, it's now published - it calls {func}`nbproject.publish` at the end of the notebook and shows `version = '1'` (or any other version number that the publisher specified).

Typically, we're looking at a published notebook after obtaining it from another party.

If we're looking at a published notebook, we can expect that:

1. The stored dependencies are those that were used to obtain the result.
2. The notebook has been executed sequentially and is hence non-corrupted: it has high integrity and can be trusted.

Conversely, when you run {func}`nbproject.publish` before sharing the notebook with someone else, what happens under the hood is

1. The version number is bumped from "draft" to a published version number >= "1".
2. The stored dependencies get updated by the live environment dependencies.
3. An integrity check runs that checks that your notebook cells have been executed incrementally.

In [1]:
from nbproject import header, publish

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame({"a": [1, 2, 3], "b": [2, 3, 4]})

In [4]:
df

   a  b
0  1  2
1  2  3
2  3  4

In [ ]:
publish()